
<div style="padding-top:20px; background-color:lightgrey; padding-left:15px;padding-right:15px;">
    <b>THIS SECTION TO BE COMPLETED BY APPLICANT. A SEPARATE APPLICATION TO RENT IS REQUIRED FOR EACH OCCUPANT 18 YEARS OF AGE OR OVER, OR AN EMANCIPATED MINOR (Click the &quot;Add Another Application&quot; button to start another application).</b>
    <p>A non-refundable tenant screening/credit check fee of $35.00 per adult is charged. The application(s) cannot be processed without tenant screening/credit check fee. The average processing time is three to seven days. Please note that under certain circumstances processing time may exceed this time period.<br />
    <b>Contact Info:<br />
        Lisa<br />
        Rising Investments LLC<br />
        Tel: (408) 668-5515 &nbsp;&nbsp;&nbsp;&nbsp;Fax: (916) 290-0558<br />
        Email: risingworks@gmail.com
        </b></p>
</div>

<form novalidate id="form" enctype="multipart/form-data" ng-submit="submitForm()">
    <div class="panel panel-default grey_background" id="premises">
        <div class="panel-body">
            <div class="form-group" style="margin-bottom:-1px">
                <label>1. PREMISES INFORMATION</label>
            </div>
            <div class="row form-inline">
                <div class="form-group col-sm-4">
                    <label>Address:</label>
                    <input type="text" class="form-control" ng-model="Premises.Address" ng-class="[requiredClass]">
                </div>
                <div class="form-group col-sm-4">
                    <label>Rent: $</label>
                    <input type="number" class="form-control" ng-model="Premises.Rent" ng-class="[requiredClass]">
                </div>
                <div class="form-group col-sm-4">
                    <label>Move in date:</label>
                    <input type="date" class="form-control" ng-model="Premises.Movein_date" ng-class="[requiredClass]">
                </div>
            </div>
        </div>
    </div>
    <div class="panel" align="center" style="height:30px">
        <b>{{applicationDescription}}</b>
    </div>

    <div ng-disabled="disableForms" ng-class="{'disabled': disableForms}">
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm0" ng-show="formShow[0]" id="form0"></div>
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm1" ng-show="formShow[1]" id="form1"></div>
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm2" ng-show="formShow[2]" id="form2"></div>
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm3" ng-show="formShow[3]" id="form3"></div>
    </div>
    <div class="panel">
        <div class="panel-body" align="center">
            <button type="submit" class="btn btn-primary" ng-disabled="disableSubmit">Submit</button>
            <button type="button" class="btn btn-primary" ng-click="backToPrevious();" ng-disabled="disableBackToPrevious"><< Previous</button>
            <button type="button" class="btn btn-primary" ng-click="nextApplication();" ng-disabled="disableNextApplication">Next >></button>
            <button type="button" class="btn btn-primary" ng-click="addAnotherApplication();" ng-disabled="disableAddAnother">Add Another Application</button>
        </div>
    </div>
</form>