
<div style="padding-top:20px; background-color:lightgrey; padding-left:15px;padding-right:15px; padding-bottom:2px;">
    <div>
        <b>THIS SECTION TO BE COMPLETED BY APPLICANT. A SEPARATE APPLICATION TO RENT IS REQUIRED FOR EACH OCCUPANT 18 YEARS OF AGE OR OVER, OR AN EMANCIPATED MINOR (Click the &quot;Add Another Application&quot; button to start another application).</b>
        <p>A non-refundable tenant screening/credit check fee of $35.00 per adult is charged. The application(s) cannot be processed without tenant screening/credit check fee. The average processing time is three to seven days. Please note that under certain circumstances processing time may exceed this time period.</p>
    </div>
    <div class="row">
        <div style="float:left; margin-left:15px;">
            <a href="http://www.rising-investments.com/"><img src="/Static/Images/logo.jpeg" style="width:205px;height:92px;"></a>
        </div>
        <div style="float:right; margin-right:30px;margin-top:-2px;">
            <b>
                Contact Info:<br />
                Lisa<br />
                Rising Investments LLC<br />
                Tel: (408) 668-5515 &nbsp;&nbsp;&nbsp;&nbsp;Fax: (916) 290-0558<br />
                Email: risingworks@gmail.com
            </b>
        </div>
    </div>
</div>

<form novalidate id="applicationForm" ng-submit="submitForm()">
    <div class="panel panel-default grey_background" id="premises">
        <div class="panel-body">
            <div class="form-group" style="margin-bottom:-1px">
                <label>1. PREMISES INFORMATION</label>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Address: </label>
                    <input type="text" class="form-control" ng-model="Premises.Address" ng-class="[requiredClass]" id="premisesAddress" ng-change="PremisesAddressChanged()">
                    <!--
                    <div><b>Address:</b></div>
                    <select style="height:32px;width:100%;margin-top:5px;" ng-model="Premises.Address" ng-options="x for x in Houses" 
                            ng-change="PremisesAddressChanged()" ng-class="[requiredClass]" id="premisesAddress">
                    </select>
                    -->
                </div>
                <div class="form-group col-sm-4">
                    <label>Rent: $</label>
                    <input type="text" class="form-control" ng-model="Premises.Rent" ng-class="[requiredClass]" ng-disabled="false" id="premisesRent">
                </div>
                <div class="form-group col-sm-4">
                    <label>Move in date:</label>
                    <input type="date" class="form-control" ng-model="Premises.Movein_date" ng-class="[requiredClass]" id="movein_date">
                </div>
            </div>
        </div>
    </div>
    <div class="panel" align="center" style="height:30px">
        <b>{{applicationDescription}}</b>
    </div>

    <div ng-disabled="disableForms" ng-class="{'disabled': disableForms}" id="appForms">
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm0" ng-show="formShow[0]" id="form0"></div>
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm1" ng-show="formShow[1]" id="form1"></div>
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm2" ng-show="formShow[2]" id="form2"></div>
        <div ng-include="'/Static/Application.html'" ng-controller="ApplicationForm3" ng-show="formShow[3]" id="form3"></div>
    </div>

    <div id="errorMsg" ng-show="showErrorMsg" class="panel" style="color:red">
    </div>
    <div ng-show="spinnerShow" align="center">
        <p>System is submitting your application, please wait...</p>
        <div class="loader"></div>
    </div>

    <div class="panel" id="panelButtons">
        <div class="panel-body" align="center">
            <button type="submit" class="btn btn-primary" ng-disabled="disableSubmit">Submit</button>
            <button type="button" class="btn btn-primary" ng-click="backToPrevious();" ng-disabled="disableBackToPrevious"><< Previous</button>
            <button type="button" class="btn btn-primary" ng-click="nextApplication();" ng-disabled="disableNextApplication">Next >></button>
            <button type="button" class="btn btn-primary" ng-click="addAnotherApplication();" ng-disabled="disableAddAnother">Add Another Application</button>
        </div>
    </div>

    <!--info modal dialog-->
    <div id="infoDlg" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="infoDlgClose();">&times;</button>
                    <h4 class="modal-title" id="infoDlgHeader">{{dialogHeader}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{dialogMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="infoDlgClose();">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--confirm dialog-->
    <div id="confirmDlg" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="infoDlgHeader">Confirm</h4>
                </div>
                <div class="modal-body">
                    <p>Please make sure you have completed all required information(red boxes).<br />
                    Are you sure you want to submit your application now?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="confirmYesClicked();">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</form>