<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="SMTP.Host" value="relay-hosting.secureserver.net" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SMTP.Port" value="25" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SMTP.UserName" value="" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SMTP.Password" value="" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SMTP.TLS" value="false" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="FromEmail" value="info@rising-investments.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="ToEmail" value="risingworks@gmail.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="BaseUrl" value="http://app.rising-investments.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
	<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>
