
@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeController">
    <div ng-view></div>
</div>

<script src="~/Scripts/PageRouting/Routing.js"></script>
<script src="~/Scripts/SharedFunctions.js"></script>
<script src="~/Scripts/PageController/Controller.js"></script>
