
@{
    ViewBag.Title = "Home Page";
}

@Html.AntiForgeryToken();
<div ng-controller="HomeController">
    <input type="hidden" id="AvailableHouses" value="@ViewBag.AvailableHouses" />
    <input type="hidden" id="Rentals" value="@ViewBag.Rentals" />
    <input type="hidden" id="SuccessRedirectUrl" value="@ViewBag.SuccessRedirectUrl" />
    <div ng-view></div>
</div>

<script src="~/Scripts/PageRouting/Routing.js"></script>
<script src="~/Scripts/SharedFunctions.js"></script>
<script src="~/Scripts/PageController/Controller.js"></script>
