
@{
    ViewBag.Title = "Rent Application Page";
}

<div ng-controller="AppViewController">
    <fieldset ng-disabled="true">
        <div ng-view></div>
    </fieldset>
</div>

<script type="text/javascript">
    var rentAppData = '@Html.Raw(ViewBag.ApplicationData)';
    var errorMsg = '@Html.Raw(ViewBag.ApplicationError)';
</script>
<script src="~/Scripts/PageRouting/Routing.js"></script>
<script src="~/Scripts/SharedFunctions.js"></script>
<script src="~/Scripts/PageController/AppViewController.js"></script>
