<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>

</head>

<body ng-app="RisingWebApp">
    <style>
        .grey_background {
            background-color: #f1f1f1;
        }
        .yellow_background {
            background-color: #ffffcc;
        }
        .white_backgroud {
            background-color: white;
        }

        .green_background {
            background-color: LimeGreen;
        }

        .right {
            float: right;
        }

        .panel_margin {
            margin-top: -20px;
        }

        .panel_default_margin {
            margin-top: -18px;
        }

        .point_cursor {
            cursor: pointer;
        }

        .margin_top_8 {
            margin-top: 8px;
        }

        .disabled {
            opacity: 0.5;
            pointer-events: none;
            > *;
            {
                opacity: 0.5;
                pointer-events: none;
            }
        }

        .redbox {
            border: 1px solid red;
        }

        .file {
          visibility: hidden;
          position: absolute;
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 2s linear infinite;
        }

        @@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>

    <div class="container body-content">
        @RenderBody()
        <footer align="center">
            Copyright &copy; @DateTime.Now.Year Rising Investment LLC - All Rights Reserved
        </footer>
    </div>

</body>
</html>
